body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.vertical-more {
    width: 2px;
    height: 15px;
    background-color: black;
    grid-area: 1 / 2 / 1 / 2;
    justify-self: center;
    align-self: start;
    transition: 500ms all;
}

.vertical-less {
    width: 15px;
    height: 2px;
    background-color: black;
    grid-area: 1 / 2 / 1 / 2;
    justify-self: center;
    align-self: start;
    transition: 500ms all;
    margin-top: 6px;
}

.horizontal {
    width: 15px;
    height: 2px;
    background-color: black;
    grid-area: 1 / 2 / 1 / 2;
    justify-self: center;
    align-self: start;
    margin-top: 6px;
}