.parent-container{
    display: grid;
    grid-template-rows: 5% 95%;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
