{% extends "bootstrap/base.html" %}

{% block title %}
Template Canvas
{% endblock %}

{% block styles %}
{{super()}}
<script src="{{url_for('.static', filename='javascript/canvasTemplate.js')}}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}

{% block content %}
<html lang="en">
<head>

</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 50%;"></div>
    <label for="arr">Seleccione Linea: </label>
    <select id="arr" style="width: 100px;"></select><br>
    <label for="arr2">Seleccione Punto:</label>
    <select id="arr2" style="width: 100px;"></select><br>
    <label for="xVal">Eje X:</label>
    <input type="text" id="xVal" name="xVal"><br><br>
    <label for="yVal">Eje Y:</label>
    <input type="text" id="yVal" name="yVal"><br><br>

    <button id="addPoint">Añadir punto</button>
    <button id="addLine">Añadir Linea</button>
    <button id="ModPoint">Modificar punto</button>
</body>
</html>

{% endblock %}