{% extends "bootstrap/base.html" %}

{% block title %}
Template Canvas
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
<script src="{{url_for('.static', filename='javascript/canvasTemplate.js')}}"></script>
<script src="{{url_for('.static', filename='javascript/canvasjs.min.js')}}"></script>
{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<div class="parent-container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Equilibrios App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('addDiagram') }}">Añadir ejercicio</a></li>
                    <li><a href="{{ url_for('diagramSelection') }}">Realizar Ejercicio</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <div class="user-container">
        <div class="statement-container less" id="container">
            <div class="hero-unit">
                <h1>Enunciado</h1>
                <span style="white-space:pre">{{myval.enunciado}}</span>
            </div>
            <div class="drop-down" id="btnDropDown">
                <span class="vertical-more"></span>
                <span class="horizontal"></span>
            </div>
        </div>
        <div class="chartContainer" id="chartContainer"></div>
        <br><br>
        <div class="button-container">
            <div class="button-points-container" id="buttonsPoints">
                <div class="labels-container">
                    <label for="xVal">Eje X:</label>
                    <input type="text" id="xVal" name="xVal">
                    <label for="yVal">Eje Y:</label>
                    <input type="text" id="yVal" name="yVal">
                </div>
                <div class="custom-buttons-container" >
                    <button class="btn btn-primary btn-large addPoint" id="addPoint">Añadir punto</button>
                    <button class="btn btn-primary btn-large modPoint" id="ModPoint">Modificar punto</button>
                    <button class="btn btn-primary btn-large checkPoint" id="checkPoints">Checkear Puntos</button>
                </div>
            </div>
            <div class="button-lines-container hidde" id="buttonsLines">
                <button class="btn btn-primary btn-large" id="addLine">Añadir Linea</button>
                <button class="btn btn-primary btn-large" id="checkLines">Checkear Linea</button>
                <button class="btn btn-primary btn-large" id="cleanLines">Borrar líneas</button>
                <button class="btn btn-primary btn-large" id="BorrarCache">Borrar Cache</button>
            </div>
        </div>
    </div>
</div>
<div id="mydiv" data-diagrams='{{myval|tojson}}'></div>
</body>
</html>

{% endblock %}